.contract {
    background: rgba(255, 255, 255, 0.1);
    max-width: 800px;
    margin: 20px auto;
    padding: 15px 40px;
}

.con-addr-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-addr-active .addr span {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.con-addr-active .addr {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
}

.con-addr-active .addr a:visited,  .con-addr-active .addr a {
    color: white;
}

.Active {
    background: green;
}

.Unlocked {
    background: yellow;
}

.Cancelled {
    background: red;
}

.Completed {
    background: grey;
}

.con-price {
    text-align: left;
}

.con-price p {
    font-size: 18px;
    color: #9F7AEA;
    margin-top: 5px;
}

.contract-parties {
    display: flex;
}

.contract-parties .party {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.action-button-container {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.action-button-container button {
    background: inherit;
    min-width: 100px;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    margin-right: 8px;
}